*{
    margin:0px;
    padding: 0px;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #222;
}

.card{
    width: 90%;
    max-width: 475px;
    margin: 100px auto 0;
    color: #fff;
    background:linear-gradient(135deg, #00feba, #5b548a);
    padding: 40px 35px;
    border-radius: 20px;
    text-align: center;
}

.search{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
}

.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 15px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 23px;
}

.search button{
                border: 0;
                outline: 0;
                background:#ebfffc;
                border-radius: 50%;
                width: 60px;
                height: 60px;
                cursor:pointer;
                margin-top: 10px;
}

.search button i{
                    width: 16px;
}

img{
            width: 250px;
}

.weather-icon{
    width: 170px;
    margin-top: 30px;
}

.weather h1{
            font-size: 80px;
            font-weight: 500;
}


.weather h2{
            font-size: 45px;
            font-weight: 400;
            margin-top: -10px;
}

.details{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 50px;
            padding: 0px 20px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col img{
    width: 40px;
    margin-right: 10px;
}
